.topImg {
    position: absolute;
    right: 0;
    z-index: -111;
}

.container {
    margin: 0 auto;
}

.header nav ul {
    padding: 0;
    margin: 0;
}

.header nav ul li {
    padding: 0 40px 0 0;
    margin: 0;
    display: inline-block;
}

.header nav ul li:last-child {
    padding: 0;
}

.header nav ul li a {
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    color: #040415;
    text-decoration: none;
    text-transform: uppercase;
}

.header nav ul li a.btnSkyBlue {
    padding: 13px 22px;
    background: #3088ff;
    color: #fff;
    box-shadow: 16px 16px 28px rgba(48, 136, 255, 0.1);
    border-radius: 8px;
}

.hero-left h2 {
    font-family: 'Overlock';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
}

.hero-left h2 span {
    background: url('../src/images/underline1.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-position-x: inherit;
}

.hero-left p {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: rgba(4, 4, 21, 0.6);
}

.hero-right {
    background: url('../src/images/shape.png');
    background-repeat: no-repeat;
}

.video-section img {
    max-width: 100%;
}

.title {
    text-align: center;
    font-family: 'Overlock';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 38px;
}

.title span {
    display: block;
}

.brand-logo ul {
    margin: 0;
    padding: 0;
}

.brand-logo ul li {
    display: inline-block;
    margin: 0;
    padding: 0 65px 0 0;
}

.brand-logo ul li:last-child {
    padding: 0;
}

.icon-title {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}

.icon-title h2 {
    font-family: 'Overlock';
    margin: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
    color: rgba(4, 4, 21, 0.8);
}

.icon-title .icon {
    margin-right: 10px;
}

.services ul {
    margin: 0;
    padding: 0;
}

.services ul li {
    list-style: none;
    margin-bottom: 25px;
}

.services ul li a {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 32px;
    color: rgba(4, 4, 21, 0.8);
    text-decoration: none;
}

.products-area p {
    font-family: 'Nunito';
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: rgba(4, 4, 21, 0.6);
}

a.btnBlue {
    font-family: 'Nunito';
    padding: 13px 36px;
    background: #2d5bff;
    color: #fff;
    box-shadow: 16px 16px 28px rgba(48, 136, 255, 0.1);
    border-radius: 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
}

.product-one {
    display: flex;
    align-items: center;
    justify-content: end;
}

.product-two {
    display: flex;
    align-items: center;
    justify-content: start;
}

.product h3 {
    font-family: 'Overlock';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    color: #040415;
    margin-bottom: 34px;
}

.product p {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: rgba(4, 4, 21, 0.8);
    margin-bottom: 34px;
}

.viewBtn {
    padding: 12px 20px;
    background: rgba(48, 136, 255, 0.12);
    border-radius: 7px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: rgba(4, 4, 21, 0.8);
    text-decoration: none;
}

.pricing-plan-title-area p {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: rgba(4, 4, 21, 0.6);
}

.pricing-plan-title-area {
    text-align: center;
    margin-bottom: 50px;
}

.two-btn a {
    margin: 0 0 0 20px;
}

.pricing-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 44px;
}

.pricing-title h3 {
    font-family: 'Overlock';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    margin: 0px;
    color: #040415;
}

.pricing-title h3 span {
    width: auto;
    height: 10px;
    background: #f6a00e;
    display: block;
    margin-top: -8px;
}

.pricing-title p {
    font-family: 'Overlock';
    font-style: normal;
    font-weight: 700;
    margin: 0;
    font-size: 20px;
    line-height: 24px;
    color: #040415;
}

.pricing-table ul {
    padding: 0;
    margin: 0;
}

.pricing-table ul li {
    display: flex;
    padding: 0;
    margin: 0 0 18px;
    list-style: none;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #040415;
}

span.checkIcon {
    align-items: center;
    margin-right: 4px;
    font-size: 20px;
}

.priceBtn {
    background: #f6a00e;
    border-radius: 12px;
    color: #fff;
    text-align: center;
    padding: 12px 30px;
    font-family: 'Overlock';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    margin: 0;
}

.pricing-table {
    margin-bottom: 48px;
}

.marketing-card {
    background: rgba(48, 136, 255, 0.05);
    border-radius: 12px;
    padding: 20px 20px;
}

.development-card {
    background: rgba(48, 136, 255, 0.05);
    border-radius: 12px;
    padding: 20px 20px;
}

.design-card {
    background: #2d5bff;
    border-radius: 12px;
    padding: 20px 20px;
}

.design-card ul li span {
    color: #fff;
}

.design-card .pricing-title h3 {
    color: #fff;
}

.design-card .pricing-title p {
    color: #fff;
}

.quote-left p {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 34px;
    color: rgba(4, 4, 21, 0.6);
}

span.left-quote-icon {
    margin-right: 10px;
}

span.right-quote-icon {
    position: absolute;
    margin-left: 8px;
}

.reviewer {
    display: flex;
    margin-top: 35px;
}

.reviewer img {
    margin-right: 20px;
}

.reviewer h4 {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    color: rgba(4, 4, 21, 0.8);
    margin: 0;
}

.reviewer label {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}

.testimonial-section {
    margin-bottom: 40px;
}

.portfolio h4 {
    margin: 36px 0 20px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 36px;
    text-align: center;
    color: rgba(4, 4, 21, 0.8);
}

.portfolio {
    text-align: center;
}

.see-all-portfolio {
    text-align: center;
    margin: 40px 0 30px;
}

.portfolio-section {
    margin-bottom: 40px;
}

.tab-nav ul {
    margin: 0;
    padding: 0;
}

.tab-nav ul li {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
}

.tab-nav ul li a {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    text-decoration: none;
    color: #040415;
}

.tab-nav ul li {
    display: inline-block;
    margin: 0 100px 20px 0;
    padding: 0 0 15px 0;
    list-style: none;
    border-bottom: 4px solid rgba(45, 91, 255, 0.1);
}

.tab-nav ul li:last-child {
    margin: 0;
}

.tab-nav ul li:first-child {
    border-bottom: 4px solid #2d5bff;
}

.tab-nav {
    margin-bottom: 20px;
}

.dev-technology-section {
    margin-bottom: 40px;
}

.design-technology-section {
    margin-bottom: 40px;
}

.workflow-section {
    padding-top: 30px;
    background: linear-gradient(86deg, rgba(231, 238, 250, 1) 0%, rgba(249, 243, 231, 1) 100%);
}

.accordion__button {
    background: none !important;
    font-family: 'Overlock';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    width: auto !important;
    color: #040415;
    border-top: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.accordion__panel p {
    font-family: 'Nunito';
    font-style: normal;
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(4, 4, 21, 0.6);
}

.accordion__item + .accordion__item {
    border: none !important;
}

.workflow-section h2 {
    margin: 0px 0 30px;
}

/* Small devices (Phones) */
@media only screen and (max-width: 767px) {
    .App {
        padding: 0 20px;
    }

    .container {
        width: 100%;
    }

    .header {
        display: block;
        text-align: center;
    }

    .header nav ul li {
        margin: 0 0 15px;
    }

    .header nav ul li:last-child {
        margin-top: 12px;
    }

    .hero-left h2 {
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .video-section {
        margin-bottom: 40px;
    }

    .brand-logo ul li {
        padding: 0;
        text-align: center;
        width: 100%;
    }

    .brand-logo ul li img {
        margin: 0 auto;
    }

    .service-area {
        display: block;
        text-align: center;
    }

    .icon-title {
        text-align: center;
        display: block;
    }

    .product-subtitle p {
        margin-bottom: 30px;
    }

    .product-subtitle {
        text-align: center;
    }

    .our-products-title {
        margin-bottom: 40px;
    }

    .product-one {
        display: block;
        margin-bottom: 20px;
    }

    .product-two {
        display: block;
    }

    .product-img {
        width: 100%;
    }

    .product {
        width: 100%;
        padding: 0px 0 40px;
    }

    .design-card {
        margin: 20px 0;
    }

    .pricing-area {
        display: block;
        margin-bottom: 40px;
    }

    .quote-left {
        width: 100%;
    }

    .quote-right {
        display: none;
    }

    .tech-logo {
        text-align: center;
    }

    .tech-logo img {
        margin-bottom: 20px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
    .App {
        padding: 0 20px;
    }

    .container {
        width: 100%;
    }

    .header {
        display: block;
        text-align: center;
    }

    .header nav ul li {
        margin: 0 0 15px;
    }

    .header nav ul li:last-child {
        margin-top: 12px;
    }

    .hero-left h2 {
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .video-section {
        margin-bottom: 30px;
    }

    .brand-logo ul li {
        padding: 0;
        text-align: center;
    }

    .service-area {
        display: block;
        text-align: center;
    }

    .icon-title {
        text-align: center;
        display: block;
    }

    .product-subtitle p {
        margin-bottom: 30px;
    }

    .product-subtitle {
        text-align: center;
    }

    .our-products-title {
        margin-bottom: 40px;
    }

    .product-img {
        width: 50%;
    }

    .product {
        width: 50%;
        padding: 0 60px 50px;
    }

    .design-card {
        margin: 20px 0;
    }

    .pricing-area {
        display: block;
        margin-bottom: 40px;
    }

    .quote-left {
        width: 100%;
    }

    .quote-right {
        display: none;
    }

    .tech-logo {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }
}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .App {
        padding: 0 20px;
    }

    .container {
        width: 100%;
    }

    .header {
        display: block;
        text-align: center;
    }

    .hero-section {
        display: block;
    }

    .hero-left {
        width: 100%;
    }

    .hero-right {
        display: none;
    }

    .hero-left h2 {
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .video-section {
        margin-bottom: 30px;
    }

    .brand-logo ul li {
        padding: 0;
    }

    .service-area {
        display: flex;
        justify-content: space-between;
    }

    .our-products-title {
        margin-bottom: 40px;
    }

    .product-subtitle p {
        margin-bottom: 30px;
    }

    .product-subtitle {
        text-align: center;
    }

    .product-img {
        width: 50%;
        margin-top: -3px;
    }

    .product {
        width: 445px;
        padding: 0 60px 50px;
    }

    .pricing-area {
        display: block;
        margin-bottom: 40px;
    }

    .design-card {
        margin: 20px 0;
    }

    .quote-left {
        width: 523px;
    }

    .quote-area {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .quote-right {
        display: block;
    }

    .portfolio {
        display: flex;
        justify-content: space-between;
    }

    .tech-logo {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    .accordion-area {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .accordion-left {
        width: 50%;
    }

    .accordion-left {
        width: 50%;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1140px) {
    .App {
        padding: 0px;
    }

    .container {
        width: 1140px;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
    }

    .hero-section {
        display: flex;
        justify-content: space-between;
    }

    .hero-left {
        width: 581.71px;
        padding: 0 36px 0 0;
    }

    .hero-left h2 {
        margin-top: 86px;
        margin-bottom: 23px;
    }

    .hero-right {
        min-height: 480px;
        width: 581.01px;
        display: block;
    }

    .video-section {
        margin-bottom: 126px;
    }

    .title {
        margin: 0 0 77px;
    }

    .brand-logo ul li {
        padding: 0 55px 0 0;
    }

    .brand-logo {
        margin: 0 0 164px;
    }

    .service-area {
        display: flex;
        justify-content: space-between;
    }

    .what-we-do-title {
        text-align: left;
    }

    .service-area {
        margin-bottom: 230px;
    }

    .our-products-title {
        margin-bottom: 94px;
    }

    .our-products-title h2 {
        text-align: left;
        margin-bottom: 24px;
    }

    .product-subtitle p {
        width: 582.47px;
    }

    .product-subtitle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;
    }

    .product-img {
        width: 50%;
        margin-top: -3px;
    }

    .product {
        width: 445px;
        padding: 0 60px;
    }

    .products-area {
        margin-bottom: 286px;
    }

    .pricing-plan-title-area h2 {
        margin-bottom: 18px;
    }

    .pricing-plan-title-area p {
        width: 582px;
        margin: 0 auto 50px;
    }

    .pricing-plan-title-area {
        margin-bottom: 85px;
    }

    .pricing-area {
        gap: 45px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 138px;
    }

    .marketing-card {
        width: 349.09px;
    }

    .development-card {
        width: 349.09px;
    }

    .design-card {
        width: 349.09px;
    }

    .design-card {
        margin: 0px;
    }

    .testimonial-section h2 {
        margin-bottom: 0px;
    }

    .quote-area {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .quote-left {
        width: 523px;
    }

    .quote-right {
        display: block;
    }

    .testimonial-section {
        margin-bottom: 140px;
    }

    .portfolio-section {
        margin-bottom: 142px;
    }

    .portfolio {
        display: flex;
        justify-content: space-between;
    }

    .our-portfolio-title h2 {
        text-align: left;
        margin-bottom: 47px;
    }

    .see-all-portfolio {
        margin: 103px 0 50px;
    }

    .tech-logo {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    .tab-nav {
        margin-bottom: 90px;
    }

    .dev-technology-title {
        margin-bottom: 54px;
    }

    .dev-technology-section {
        margin-bottom: 118px;
    }

    .design-technology-section {
        margin-bottom: 161px;
    }

    .accordion-area {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .accordion-left {
        width: 50%;
    }

    .accordion-left {
        width: 50%;
    }

    .workflow-section {
        padding-top: 68px;
    }

    .workflow-section h2 {
        margin-bottom: 30px;
    }
}
