@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600&family=Overlock:wght@400;700&display=swap');

body {
    background: url('../src/images/ellipse-left.png');
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}
